
prototypes/mcp/

prototypes/textbooks/textbook_env/
prototypes/textbooks/arm64_env/

# Explicitly ignore node_modules everywhere
**/node_modules/


# Ignore sensitive files
**/.env
**/claude_desktop_config.json
